pytgcalls==3.0.0.dev22
git+https://github.com/naya1503/WPyrogram
TgCrypto
pytz
yt-dlp
youtube-search-python
motor
python-dateutil
dnspython==2.3.0
feedparser
speedtest-cli
bs4
Pillow==8.3.2
opencv-python-headless
requests
ffmpeg-python
unidecode
attrify
html2text
removebg
aiofiles
aiohttp==3.9.0rc0
gpytranslate
gtts
emoji
wget
telegraph
openai
httpx[http2]
uvloop
httpx
python-dotenv
psutil
search_engine_parser
future
pytimeparse
psycopg2-binary
sqlalchemy==1.3.23
pymediainfo